{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<p>
Hello,

This is an issue/bug tracking application. After registering/loging in with an account you can create and work on issues accross three differenet permissions levels.

<h6>Regular User</h6>
<ul>
  <li> X Create new issues </li>
  <li> X Comment on issues they are assigned to or created </li>
  <li> X Submit issues for review </li>
</ul>

<h6>Team Lead</h6>
<ul>
  <li> X Everything a regular user can</li>
  <li> X Add or remove their team label from an issue</li>
  <li> X Claim users with no team as part of their Team</li>
  <li> X Remove users from their team</li>
  <li> X Review issues within their team</li>
  <li> X Assign members of their team to work on an issue</li>
  <li> X Delete issues in their team</li>
</ul>
<h6>Admin</h6>
  <li>Everything a team lead can do (accross all teams)</li>
  <li>Promote a user to team Lead</li>
  <li>Demote a team lead to user</li>
  <li>Switch the team of any user/team lead</li>
  <li>delete user (may be annoying withu updating comments and stuff)</li>
</p>

<h6> Others</h6>
  <li>Search Issues in searchbar</li>
  <li>PFP</li>

{% endblock %}