async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1733235340728/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1731096409132/work
Bootstrap-Flask @ file:///home/conda/feedstock_root/build_artifacts/bootstrap-flask_1746221450966/work
-e git+ssh://git@github.com/sharkipelago/bugbox.git@7abadebe4f46998456e789b9fff17d5454d3864f#egg=bugbox
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
coverage @ file:///home/conda/feedstock_root/build_artifacts/coverage_1749833255015/work
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1746947292760/work
Flask @ file:///home/conda/feedstock_root/build_artifacts/flask_1747203985407/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1733223141826/work
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1733308265247/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1741263328855/work
MarkupSafe @ file:///home/conda/feedstock_root/build_artifacts/markupsafe_1733219680183/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1747339660894/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1750615794071/work
pytest @ file:///home/conda/feedstock_root/build_artifacts/pytest_1750239416491/work
PyYAML @ file:///home/conda/feedstock_root/build_artifacts/pyyaml_1737454647378/work
redis @ file:///home/conda/feedstock_root/build_artifacts/redis-py_1748446509661/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1733256695513/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1748959427/work
watchdog @ file:///home/conda/feedstock_root/build_artifacts/watchdog_1730492879209/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1733160440960/work
WTForms @ file:///home/conda/feedstock_root/build_artifacts/wtforms_1733061487436/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
