{% from 'bootstrap5/form.html' import render_field %}
{% from 'bootstrap5/utils.html' import render_icon %}

<!doctype html>
<html>
<!-- <html lang="en" data-bs-theme="dark"> -->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
		<title>{% block title %}{% endblock %} - Bugbox</title>
		{{ bootstrap.load_css() }}
		{{ bootstrap.load_icon_font_css() }}
	</head>
	<body class="bg-primary">
		<div class="container">
			<!-- Outer Row -->
			<div class="row justify-content-center ">
				<div class="col-xl-10 col-lg-12 col-md-9">
					<div class="card o-hidden border-0 shadow-lg my-5">
						<div class="card-body p-0">
							<!-- Nested Row within Card Body -->
							<div class="row">
								<div class="col-lg-6 d-none d-lg-block bg-login-image rounded-start">
                </div>
								<div class="col-lg-6 bg-off-white rounded-end">
									<div class="text-center p-5">
										{% for message in get_flashed_messages(category_filter=['success']) %}
										<div class="alert alert-success py-2">
											{{message}}
										</div>
										{% endfor %}
										{% for message in get_flashed_messages(category_filter=['message']) %}
										<div class="alert alert-warning py-2">
											 {{render_icon("exclamation-triangle-fill")}} {{message}}
										</div>
										{% endfor %}
										{% block content %}{% endblock content %}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{{ bootstrap.load_js() }}
	</body>
</html>
