{% extends 'base.html' %}

{% block title %}Submit New Issue{% endblock %}

{% block content %}
  <form method="post">
    <label for="title" class="form-label">Title</label>
    <input name="title" id="title" class="form-control" required autofocus>
    <label for="body">Body</label>
    <textarea name="body" id="body" class="form-control mb-2">{{ request.form['body'] }}</textarea>
    <input name="self-assign" id="self-assign" class="form-check-input" type="checkbox" checked>
    <label class="form-check-label" for="self-assign">Self Assign?</label>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>
{% endblock %}