{% extends 'base.html' %}

{% macro commentButton(extra_attributes) %}
  <input type="submit" value="Comment" class="btn btn-success ms-auto" form="add-comment-form" {{extra_attributes}}/>
{% endmacro %}

{% macro submitForReviewButton(extra_attributes='', button_value='Submit for Review') %}
  <form id="submit-for-review-form" action="{{ url_for('issue.submit_issue', issue_id=issue['id'], submitter_id=g.user['id'])}}" method="post"> 
    <input type="submit" value="{{button_value}}" class="btn btn-secondary me-2" form="submit-for-review-form" {{extra_attributes}}>
  </form>
{% endmacro %}

{% macro reopenButton() %}
  <form id="reopen-form" action="{{ url_for('issue.reopen_issue', issue_id=issue['id'], reopener_id=g.user['id'])}}" method="post"> 
    <input type="submit" value="Reopen Issue" class="btn btn-secondary me-2" form="reopen-form" >
  </form>
{% endmacro %}

{% macro closeButton() %}
  <form id="close-form" action="{{ url_for('issue.close_issue', issue_id=issue['id'], closer_id=g.user['id'])}}" method="post"> 
    <input type="submit" value="Close Issue" class="btn btn-warning me-2" form="close-form" >
  </form>
{% endmacro %}

{% macro deleteButton() %}
  <input class="btn btn-danger me-auto" type="submit" value="Delete Issue" form="delete-form" onclick="return confirm('Are you sure?');">
{% endmacro %}

{% block title %}Edit "{{ issue['title'] }}" {{issue['progress'] }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col flex-grow-1 text-break">
      {% if edit_level == 2 %}
        <form id="delete-form" action="{{ url_for('issue.delete', issue_id=issue['id']) }}" method="post"></form>
      {% endif %}
      
      <h3 class="mb-0"><span class="fw-bold">{{issue['title']}}</span> #{{issue['id']}}</h3>
      <p class="fs-6">{% for team_id in issue_teams%} {{teamBadge(team_id)}} {% endfor %}</p>

      {% for c in comments %}
      <div class="d-flex">
        <a>
          <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle me-2">
        </a>
        <div class="card mb-2 flex-grow-1">
          {% if c['author_id'] == -1 %}
            <div class="card-header bg-secondary text-black rounded-bottom">
              <p class="small mb-0 fst-italic"> {{c['content']}} {{c['created'].strftime('%B %d, %H:%M')}} </p>
            </div>
          {% else %}    
            <div class="card-header">
              <p class="small mb-0">   
                {{c['author_name']}}
                {% if loop.first %} 
                  opened on 
                {% else %}
                  on 
                {% endif %}
                {{c['created'].strftime('%B %d, %H:%M')}}
              </p>
            </div>
            <div class="card-body">
              <p class="mb-0">{{c['content']}}</p>
            </div>
          {% endif %}
        </div>        
      </div>
     
      {% endfor %}
      {% if edit_level > 0 and issue['progress'] < 2 %}
        <form id="add-comment-form" action="{{ url_for('issue.add_comment', issue_id=issue['id'])}}" method="post"</form> 
          <label for="content" class="form-label">Add a comment</label>
          <textarea name="content" id="content" class="form-control mb-2" required  
            {% if issue['progress'] > 0 and edit_level < 2 %}
              disabled placeholder="New comments disabled while issue is under review"
            {% else %}
              placeholder="Type your new comment here..."
            {% endif %}></textarea>
        </form>
      {% endif %}

      <div class="d-flex">
        {% if edit_level == 1 %}
          {% if issue['progress'] == 0 %}
            {{submitForReviewButton()}}
            {{commentButton()}}
          {% elif issue['progress'] == 1 %}
            {{submitForReviewButton(extra_attributes='disabled', button_value='Under Review')}}
            {{commentButton(extra_attributes='disabled')}}
          {% endif %}
        {% elif edit_level == 2 %}
          {% if issue['progress'] == 0 %}
            {{submitForReviewButton()}}
            {{deleteButton()}}
            {{commentButton()}}
          {% elif issue['progress'] == 1 %}
            {{reopenButton()}}
            {{closeButton()}}
            {{deleteButton()}}
            {{commentButton()}}
          {% endif %}
          {% if issue['progress'] == 2 %}
            {{reopenButton()}}
          {% endif %}
        {% endif %}
      </div>
    </div>
    <!-- Assignees -->
    <div class="col-3">
      <h4 class="me-2">Assignees  
        {% if edit_level == 2 and issue['progress'] < 2%}
          <span class="btn btn-info btn-sm" data-bs-toggle="collapse" data-bs-target="#updateUserCollapse" aria-expanded="false">Add</span>
        {% endif %}
      </h4>  
      <div class="collapse" id="updateUserCollapse">
        <ul class="list-group">
          <!-- need list because map will return a generator as all jinja functions that oppearte on lists return generators -->
          {% for user in users | selectattr('team_id', 'equalto', issue['team_id']) | rejectattr('id', 'in', assignees|map(attribute='id')|list) %}
            <a class="list-group-item list-group-item-action" href="{{ url_for('issue.add_assignee', issue_id=issue['id'], user_id=user['id']) }}">{{user['first_name']}} {{user['last_name']}} </a>
          {% else %}
            <li class="list-group-item ">No more assignable users</li>
          {% endfor %}
        </ul>
      </div>
      <hr>
      {% for a in assignees %}
        {% if edit_level == 2 and issue['progress'] < 2 %}
          <a class="list-group-item " href="{{ url_for('issue.remove_assignee', issue_id=issue['id'], assignee_id=a['id']) }}">
            {{ a['name'] }} <i class="bi bi-x list-group-item-action"></i></a>
        {% else %}
          <span class="list-group-item ">{{ a['name'] }} </span>        
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
  