{% extends 'base.html' %}

{% macro issueComponent(issues) -%}
  {% for issue in issues %} 
    <article>
      <header>
        <div>
          <h1>{{ issue['title'] }} | {% for team_id in issue_teams[issue['id']] %} {{team_names[team_id]}} {% endfor %} </h1>
          <div class="about">by {{ issue['author_name'] }} on {{ issue['created'].strftime('%Y-%m-%d') }}</div>
        </div>
        {% if g.user['id'] == issue['author_id'] or (g.user['admin_level'] == 1 and issue['team_id'] == g.user['team_id']) %}
          <a class="action" href="{{ url_for('issue.update', issue_id=issue['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ issue['body'] }}</p>
    </article>
    <div>
      Assigned to: 
      {% for a in assignments %}
        {% if issue['id'] == a['issue_id'] %}
         {{ a['assignee_name']}} 
        {% endif %} 
      {% endfor %}
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% block title %}Issues{% endblock %}
{% block header %} <a class="action" href="{{ url_for('issue.create') }}">New</a> {% endblock %}

{% block content %}
  <h2>Review</h2>
  {{ issueComponent(issues|selectattr('progress', 'equalto', 1)) }}
  <h2>Open</h2>
  {{ issueComponent(issues|selectattr('progress', 'equalto', 0)) }}
  <h2>Closed</h2>
  {{ issueComponent(issues|selectattr('progress', 'equalto', 2)) }}

{% endblock %}