{% extends 'base.html' %}

{% macro issueComponent(issues) -%}
  {% for issue in issues %} 
    <a class="action text-decoration-none text-primary" href="{{ url_for('issue.details', issue_id=issue['id']) }}">
      <p class="mb-0"> <span class="fs-5">{{ issue['title'] }} </span> {% for team_id in issue_teams[issue['id']] %} {{teamBadge(team_id)}} {% endfor %} </p >
      <span class="small">#{{issue['id']}} - {{ issue['author_name']}} opened on {{ issue['created'].strftime('%B %d, %H:%M') }}</span>
    </a> 
    <!-- <div>
      Assigned to: 
      {% for a in assignments %}
        {% if issue['id'] == a['issue_id'] %}
         {{ a['assignee_name']}} 
        {% endif %} 
      {% endfor %}
    </div> -->
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% block title %}Issues{% endblock %}
{% block header %} <a class="action" href="{{ url_for('issue.create') }}">New</a> {% endblock %}

{% block content %}
  {% if issues|selectattr('progress', 'equalto', 1)|list|length > 0 %} 
    <h2 class="fw-bold">Under Review</h2>
    {{ issueComponent(issues|selectattr('progress', 'equalto', 1)) }}
    <div class="mb-4"></div>
  {% endif %}
  {% if issues|selectattr('progress', 'equalto', 0)|list|length > 0 %} 
    <h2 class="fw-bold">Open</h2>
    {{ issueComponent(issues|selectattr('progress', 'equalto', 0)) }}
    <div class="mb-4"></div>
  {% endif %}
  {% if issues|selectattr('progress', 'equalto', 2)|list|length > 0 %}
    <h2 class="fw-bold">Closed</h2>
    {{ issueComponent(issues|selectattr('progress', 'equalto', 2)) }}
  {% endif %}

{% endblock %}