{% extends 'base.html' %}

{% block title %}Collaborators{% endblock %}

{% block content %}

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Users</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Name</th>
              <th>Team</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr>
                <td>{{user["first_name"]}} {{user["last_name"]}}</td>
                <td>
                  {% if user['id'] == g.user.id %}
                    <span class="badge text-dark text-bg-self shadow-sm">Self</span>
                  {% endif %}
                  {% if user['team_id'] is none %}
                    <span class="badge text-light text-bg-secondary shadow-sm">Unassigned</span>
                  {% endif %}


                  {% if user["admin_level"] == 2 %}
                    <span class="badge text-dark shadow-sm text-bg-{{teams[user['team_id']]|lower}}">{{teams[user['team_id']]}}</span>
                  {% else %}
                    {% if user["admin_level"] == 1 %}
                      <span class="badge text-dark text-bg-team-lead shadow-sm">Team Lead</span>
                    {% endif %}  
                    <span class="badge text-light shadow-sm text-bg-{{teams[user['team_id']]|lower}}">{{teams[user['team_id']]}}</span>
                  {% endif %}
                  
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock %}

