{% extends 'base.html' %}

{% macro issueComponent(issues) -%}
  {% for issue in issues %} 
    <a class="action text-decoration-none text-primary" href="{{ url_for('issue.details', issue_id=issue['id']) }}" >
      {% for team_id in issue_teams[issue.id] %} {{teamBadge(team_id)}} {% endfor %}
      <p class="mb-0 fs-5 text-nowrap overflow-hidden" style="text-overflow: ellipsis;">{{ issue['title'] }} </p >
      <span class="small">#{{issue.id}} - {{ issue.author.first_name }} {{issue.author.last_name}} opened on {{ issue['created'].strftime('%B %d, %H:%M') }}</span>
    </a> 
    <!-- <div>
      Assigned to: 
      {% for a in assignments %}
        {% if issue['id'] == a['issue_id'] %}
         {{ a['assignee_name']}} 
        {% endif %} 
      {% endfor %}
    </div> -->
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{%- endmacro %}

{% block title %}Issues{% endblock %}
{% block content %}
  <div class="d-flex align-items-start">
    <h2 class="fw-bold">
      {% if progress == 0 %}
        Open Issues
      {% elif progress == 1 %}
        Issues Under Review
      {% else %}
        Closed Issues
      {% endif %}
    </h2>

    <div class="small ms-auto btn-group">
      <a href="{{url_for('issue.index', progress=0)}}" class="btn btn-outline-primary {% if progress == 0 %} active {% endif %}">Open</a>
      <a href="{{url_for('issue.index', progress=1)}}" class="btn btn-outline-primary {% if progress == 1 %} active {% endif %}">Under Review</a>
      <a href="{{url_for('issue.index', progress=2)}}" class="btn btn-outline-primary {% if progress == 2 %} active {% endif %}">Closed</a>
    </div>
  </div>

  {{ issueComponent(issues|selectattr('progress', 'equalto', progress)) }}
  {% if issues|selectattr('progress', 'equalto', progress)|list|length == 0 %}
      {% if progress == 0 %}
        No open issues...
      {% elif progress == 1 %}
        No issues currently under review
      {% else %}
        No closed issues 
      {% endif %} 
  {% endif %}

{% endblock %}