{% from 'bootstrap5/nav.html' import render_nav_item %}
{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/utils.html' import render_icon %}

{% macro pfp(filename) -%}
  <a>
    <img src="{{url_for('static', filename=filename)}}" alt="pfp" width="30" height="30" class="rounded-circle me-2">
  </a>
{% endmacro %}

{% macro teamBadge(team_id) -%}
  {% if TEAMS[team_id] == 'Admin' %}
    <span class="badge text-dark shadow-sm text-bg-{{TEAMS[team_id]|lower}}">{{TEAMS[team_id]}}</span>
  {% else %}
    <span class="badge text-light shadow-sm text-bg-{{TEAMS[team_id]|lower}}">{{TEAMS[team_id]}}</span>
  {% endif %}
{% endmacro %}

{% macro teamLeadBadge() %}
  <span class="badge text-dark text-bg-team-lead shadow-sm">Team Lead</span>
{% endmacro %}

{% macro confirmModal(id, title, body, confirmStyle, confirmText, confirmEndpoint=none) %}
  {% set url = url_for(confirmEndpoint) if confirmEndpoint else "#" %}
  <div class="modal fade" id="{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
        </div>
        <div class="modal-body">{{body}}</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
          <a id="{{id}}Confirm" class="btn btn-{{confirmStyle}}" href="{{url}}">{{confirmText}}</a>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}

<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link href="https://cdn.lineicons.com/5.0/lineicons.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

		<title> {{self.title()}} - Bugbox</title>
		{{ bootstrap.load_css() }}
		{{ bootstrap.load_icon_font_css() }}
	</head>
	<body class="container-fluid overflow-y-hidden">
		<!-- Page Wrapper -->
		<div class="row">
      <!-- TODO: Update mobile sidebar -->
			<!-- Mobile Sidebar https://dev.to/codeply/bootstrap-5-sidebar-examples-38pb -->
			<div id="mobile-sidebar" class="offcanvas offcanvas-start offcanvas-md w-50 navbar navbar-expand-md col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
				<div class="offcanvas-body">
					<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
						<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
							<span class="fs-5">Bugbox</span>
						</a>
						<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start flex-grow-1" id="menu">
							<li class="nav-item">
								<a href="#" class="nav-link align-middle px-0">
									<i class="fs-4 bi-ticket-detailed"></i> <span class="ms-1 d-sm-inline">My Tickets</span>
								</a>
							</li>
							<li class="nav-item	">
								<a href="#" class="nav-link align-middle px-0">
									<i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">Manage Users</span>
								</a>
							</li>
							<hr>
							<div class="dropdown pb-4 mt-auto">
								<a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
									<img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
									<span class="d-none d-sm-inline mx-1">loser</span>
								</a>
								<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
									<li><a class="dropdown-item" href="#">New project...</a></li>
									<li><a class="dropdown-item" href="#">Settings</a></li>
									<li><a class="dropdown-item" href="#">Profile</a></li>
									<li>
										<hr class="dropdown-divider">
									</li>
									<li><a class="dropdown-item" href="#">Sign out</a></li>
								</ul>
							</div>
						</ul>
					</div>
				</div>
			</div>
			<!-- End of Mobile Sidebar -->

			<!-- Desktop Sidebar -->
			<div class="d-none d-md-block col-md-3 col-xl-2 px-sm-2 px-0 bg-dark bg-gradient">
				<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
					<a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
						<span class="fs-5 d-none d-sm-inline"><i class="bi bi-bug me-2"></i>Bugbox</span>
					</a>
					<ul class="nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
						<li class="nav-item">
							<a href="{{ url_for('about.index')}}" class="nav-link align-middle px-0">
								<i class="fs-4 bi-info-circle-fill"></i> <span class="ms-1 d-sm-inline">About</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('issue.create') }}" class="nav-link align-middle px-0">
								<i class="fs-4 bi-plus-square"></i> <span class="ms-1 d-sm-inline">New Issue</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="/" class="nav-link align-middle px-0">
								<i class="fs-4 bi-ticket-detailed"></i> <span class="ms-1 d-sm-inline">My Issues</span>
							</a>
						</li>
						<li class="nav-item">
							<a href="{{ url_for('collab.index')}}" class="nav-link align-middle px-0">
								<i class="fs-4 bi-people-fill"></i> <span class="ms-1 d-none d-sm-inline">View Collaborators</span>
							</a>
						</li>
					</ul>
					<hr>
				</div>
			</div>			 
			<!-- End of Desktop Sidebar -->

			<!-- Main Content -->
			<div class="col d-flex flex-column px-0 bg-off-white">
				<!-- Topbar -->
				<nav class="navbar navbar-expand mb-4 static-top shadow">

					<!-- Sidebar Toggle (Topbar) -->
					<button id="sidebarToggleTop" data-bs-toggle="offcanvas" data-bs-target="#mobile-sidebar" class="btn btn-link d-md-none mr-3">
						<i class="lni lni-menu-hamburger-1"></i>
					</button>

					<!-- Topbar Search -->
					<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 ms-3 col-7 position-relative">
            <div class="input-group">
              <input id='search-input' type="text" class="form-control bg-light border-2 small rounded-left" placeholder="Search for issue..."
                aria-label="Search" >	
              <div id="magnify-icon" class="btn btn-primary pe-none" >
                <i class="bi-search"></i>
              </div>
            </div>
            <div id="issue-list" class="z-3 list-group position-absolute w-100 ">
              {% for issue in all_issues() %}
                <a href="{{url_for('issue.details', issue_id=issue['id'])}}" 
                  class="bg-off-white border-primary list-group-item text-nowrap overflow-hidden" style="display: none; text-overflow: ellipsis;">
                  <span class="fst-italic">#{{issue['id']}}</span> 
                  {% if issue['progress'] == 0 %} 
                    <i class="bi bi-clipboard"></i>
                  {% elif issue['progress'] == 1 %}
                    <i class="bi bi-clipboard-pulse"></i>
                  {% elif issue['progress'] == 2 %}
                    <i class="bi bi-clipboard-check"></i>
                  {% endif %}
                  {{issue['title']}} 
                </a>
              {% endfor %}
            </div>

					</form>

          <!-- Topbar profile -->
          <div class="ms-auto dropdown me-4 d-flex">
            <div class="me-2">
              {{teamBadge(g.user.team_id)}}
              {% if g.user.admin_level == 1 %}
                {{teamLeadBadge()}}
              {% endif %}  
            </div>
            <a href="#" class="d-flex align-items-center text-primary text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{url_for('static', filename=g.user.pfp_filename)}}" alt="pfp" width="30" height="30" class="rounded-circle me-2">
              <span class="d-none d-sm-inline mx-1">{{g.user.first_name}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow dropdown-menu-end">
              <li>							
                <a class="dropdown-item" href="#"  data-bs-toggle="modal" data-bs-target="#logoutModal">
                  <i class="bi-box-arrow-right"></i> Logout</a>		
              </li>
            </ul>
          </div>
				</nav>
				<!-- End of Topbar -->

				<!-- Begin Page Content --> 
				<div class="container-fluid d-flex overflow-y-auto flex-column flex-grow-1" style="max-height: 89vh;">

					<!-- Page Heading
					<div class="d-sm-flex align-items-center justify-content-between mb-4">
						<h1>{{ self.title() }}</h1> {% block header %} {% endblock %}
					</div>
					 -->
					{% for message in get_flashed_messages() %}
					<div class="btn-warning btn-icon-split btn-sm mb-4">
						<span class="icon text-white-50">
							<i class="fas fa-exclamation-triangle"></i>
						</span>
						<span class="text"> {{message}} </span>
					</div>
					{% endfor %}
          {{ self.content() }}
        
          <div class="mt-auto text-center mb-3">
            <span>Copyright &copy; Bugbox 2025</span>
          </div>
				</div>

			</div>
			<!-- End of Main Content -->


		</div>
		<!-- End of Page Wrapper -->

		<!-- Logout Modal-->
    {{confirmModal(id='logoutModal', title='Ready to leave?', body='Select "Logout" below if you are ready to end your current session.',
      confirmEndpoint='auth.logout', confirmStyle='primary', confirmText='Logout' 
    )}}

    {% block modal %}
    {% endblock %}

		{{ bootstrap.load_js() }}
    {% block script %}
    {% endblock %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>